/bin
/XppMetadata
/Projects/NDinjectTests/bin
/Projects/NDinjectTests/obj
/BuildModelResult.xml
/BuildModelResult.log
/BuildProjectResult.err.xml
/BuildModelResult.err.xml
/BuildProjectResult.log
/BuildProjectResult.xml
